<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">My Profile</h4>
                <h6 class="card-subtitle">Adjustments</h6>
                <form [formGroup]="miForm" (ngSubmit)="saveForm()" class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname" placeholder="Username" formControlName="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" class="form-control" id="InputEmail1" placeholder="Enter email" formControlName="email" [readonly]="usuario!.google!">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" [disabled]="miForm.invalid"><i class="fa fa-save"> Save Changes</i></button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">User Image</h6>

                <div class="text-center">
                    <img *ngIf="imagenSubir" [src]="imgTemp" alt="" class="img-avatar">
                    <img *ngIf="!imagenSubir" [src]="usuario!.imagenUrl" alt="" class="img-avatar">

                </div>
                <div class="text-center">
                    <input type="file" (change)="uploadImageAction($event)">
                    <br>
                    <br>


                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" [disabled]="!imagenSubir" (click)="subirImagen()"><i class="fa fa-save"> Load Image</i></button>
                </div>


            </div>
        </div>
    </div>
</div>