<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <input type="text" class="form-control" placeholder="Buscar Usuario..." #buscarTxt (keyup)="buscar(buscarTxt.value)" />

            </div>
        </div>
    </div>
</div>

<div class="row  animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="alert alert-info text-center">
                    <h4 class="alert-heading">Cargando...</h4>
                    <i class="fa fa-spin fa-refresh fa-2x"></i>
                    <p class="mb-0">Por favor espere.</p>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Medicos</h4>
                <h6 class="card-subtitle">MEdicos registrados en la aplicación</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Imagen</th>

                                <th>Nombre</th>
                                <th>
                                    Hospital
                                </th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of listaMedicos">
                                <td>

                                    <img class="img-avatar-mini cursorPointer" src="{{medico.img!|imagenUrl:'medicos'}}" (click)="showModal(medico)" alt="">
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="hospital" id="name" [(ngModel)]="medico.name">
                                </td>
                                <td>
                                    {{medico.hospital!._id}}
                                    <select class="custom-select col-3" id="inlineFormCustomSelect" value="61b785b7bd6edc6ff8a322eb">
                                        <option selected="">Choose...</option>
                                        <option  *ngFor="let hospital of listaHospital" value="{{hospital.id}}">{{hospital.name}}</option>
                                    </select>
                                </td>
                                <td class="text-nowrap text-center">
                                    <a (click)="salvar(medico)" data-toggle="tooltip" data-original-title="guardar" class="cursorPointer"> <i class="fa fa-save text-inverse m-r-10"></i> </a>
                                    <a (click)="eliminar(medico)" data-toggle="tooltip" data-original-title="Borrar" class="cursorPointer"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <button class="btn btn-secondary" (click)="cambiarPagina(-5)">Anterior</button> &nbsp;
                <button class="btn btn-secondary" (click)="cambiarPagina(5)">Siguiente</button>

            </div>
        </div>
    </div>
</div>